<launch>
	<node pkg="mpu9255" name="mpu9255_node" type="mpu9255_node"/>

	<node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node" output="screen">
		<param name="gain" value="0.5"/>
		<param name="world_frame" value="ned"/>
		<param name="fixed_frame" value="base_link"/>
		<param name="use_magnetic_field_msg" value="false"/>
 		<param name="publish_tf"    value="false"/>  <!-- Only use this for debug! -->
		<param name="remove_gravity_vector" value="false"/>
	</node>

</launch>
